mixin formElement(options={type: "text", name: "", title: "", placeholder: "", autocomplete: "on", uppercase: false, monospace: false, spellcheck: true, showErrors: true, min: 0, max: 1000}, errors={})
  .form-element(class=errors && errors[options.name] ? 'error' : '')
    .form-element__title
      label(for=options.name).form-element__title-text!= options.title + (options.uppercase ? '  <span class="caps-dot"> • CAPS ON</span>' : '')
    if options.type == "textarea"
      textarea(name=options.name, id=options.name, placeholder=options.placeholder, autocomplete=options.autocomplete, spellcheck=`${options.spellcheck}`, pattern=`.{${options.min !== undefined ? options.min : 0},${options.max !== undefined ? options.max : 1000}}`, class=`form-element__input ${options.uppercase ? 'uppercase' : ''} ${options.monospace ? 'monospace' : ''}`)= errors && errors[options.name] ? errors[options.name].value : ""
    else
      input(type=options.type, name=options.name, value=errors && errors[options.name] ? errors[options.name].value : "", id=options.name, placeholder=options.placeholder, autocomplete=options.autocomplete, spellcheck=`${options.spellcheck}`, pattern=`.{${options.min !== undefined ? options.min : 0},${options.max !== undefined ? options.max : 1000}}`, class=`form-element__input ${options.uppercase ? 'uppercase' : ''} ${options.monospace ? 'monospace' : ''}`)
    if (!options.showErrors) === true
      .form-element__error
        p.form-element__error-text!= errors && errors[options.name] ? errors[options.name].msg : ""